services:
  cache:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - cache_redis_data:/data
    networks:
      - redis_network
    restart: always

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data
    networks:
      - redis_network
    restart: always

volumes:
  cache_redis_data:
    name: cache_redis_data
  redisinsight_data:
    driver: local

networks:
  redis_network:
    driver: bridge
